PORT=3000
DATABASE_URL=postgresql://usuario:contraseña@localhost:5432/cesfam_db
JWT_SECRET=tu_jwt_secreto
JWT_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:5173
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=